---
---

@import "{{ site.theme }}";

body {
    background-color: #999999;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Container for the three sections */
.container {
    display: flex;
    justify-content: space-between; /* Space between the sections */
    width:100%;
    max-width: 1400px; /* Full width of the viewport */
    margin: 0 auto;
    padding: 20px; /* Space around the sections */
    box-sizing: border-box; /* To ensure padding doesn't affect overall width */
}

/* Left and Right sections (shorter) */
.side {
    width: 250px; /* Set a smaller width for the left and right sections */
    padding: 10px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

/* Left section */
.side.left {
    /* Additional styling for the left section */
    margin-right: 10px;
}

/* Right section */
.side.right {
    /* Additional styling for the right section */
    margin-left: 10px;
}

/* Main section (center) */
.main {
    width: 900px; /* Main section will be wider */
    padding: 20px;
    background-color: #f5f5f5;
    max-height:80vh;
    overflow-y: auto;
    max-height: 80vh;
    box-sizing: border-box;
}
